.employerHomeLayout {
  height: 800px;
}

.ui.secondary.pointing.menu .active.item {
  border-color: red;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: red;
}
.ui.attached.segment {
  background: #F9FAFC;
}

.ui.secondary.pointing.menu {
  background: #FFFFFF;
}

img.tabMenuItem {
  height: 50%;
  width: 50%;
}
